

@{
    ViewBag.PageTitle = "Products Management";
    ViewBag.CardTitle = "View Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<a class="btn btn-primary" href="/Admin/Product/Create">Create New</a>
<br />
<br />
<table class="table table-hover " width="100%" id="tableId">
    <thead class="text-bold">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Category</td>
            <td>Actions</td>
        </tr>
    </thead>
</table>

@section Scripts{
    
    <script src="~/js/Products.js"></script>
    
}




