@model int
<div class="container  pt-0 justify-content-center">
    <div class="col-12 text-center">
        
        <img src="~/Images/order-confirmed.jpg"  width="500" height="300"/>
    </div>
    <div class="col-12 text-center">
        
        <h4>Your Order Number<span class="text-bold  "> @Model</span> Has been Successfully Placed</h4><br />

    </div>
</div>