@model Category

@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Create Category";
    //Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="row">
  <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="mb-3">
                  <label asp-for="Name"></label>
                  <input asp-for="Name" class="form-control" />
                  <span asp-validation-for="Name" class="text-danger"></span>
              </div>
              <div class="mb-3">
                  <label asp-for="Description"></label>
                  <textarea id="mytextarea" asp-for="Description" class="form-control" ></textarea>
                  <span asp-validation-for="Description" class="text-danger"></span>
              </div>
              <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Create</button>
                  <a asp-action="Index" asp-controller="Category" class="btn btn-info">Back To Index</a>
              </div>
        </form>
  </div>
</div>

@section Scripts{ 

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }

    <script>
      tinymce.init({
        selector: '#mytextarea',
      });
    </script>

}