@model IEnumerable<Category>


@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "View Categories";
    //Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<a class="btn btn-primary" href="/Admin/Category/Create">Create New</a>
<br />
<br /> 
<table class="table table-hover " width="100%">
    <thead class="text-bold">
        <tr>
            <td>Nmae</td>
            <td>Descrption</td>
            <td>Date Create</td>
            <td>Actions</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@Html.Raw(item.Description)</td>
            <td>@item.CreatedDate</td>
            <td>
                <a class="btn btn-success" href="/Admin/Category/Edit/@item.Id">Edit</a>
                <a class="btn btn-danger" href="/Admin/Category/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table> 